.container{
    
    background-color: cornflowerblue;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    /* flex-flow: row wrap; */
}
.demo1{
    background-color: green;
    padding: 20px;
    /* align-self: flex-start; */
    flex-grow: 1;
    order: 3;
}
.demo2{
    background-color: aqua;
    padding: 20px;
    flex-grow: 3;
}
.demo3{
    background-color: orange;
    padding: 20px;
    flex-grow:1;
}

@media screen and (min-width : 200px)
{
    body
    {
        background-color: red;
    }
}

@media screen and (min-width : 400px) and (max-width: 800px)
{
    body
    {
        background-color: green;
    }
}